/*
http://css-snippets.com/simple-horizontal-navigation/#code
http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support#
http://www.menucool.com/horizontal/tab-menu#view2
*/

/* Navigation Start */
.nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 90px;
	line-height: 90px;
	width:100%;
}
.nav ul {
	list-style:none;
	background-color: #99ccee;
	padding-left: 20px;
	margin:0;
}

.nav li {
  font-family: OpenSans, sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  font-weight: bold;
  text-align:center;
  white-space: no-wrap;
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav a:hover {
  background-color: #707F8A;
}

.nav a.active {
  background-color: #fff;
  color: #707F8A;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #707F8A;
  }
  */
}

/* Navigation End */