.main {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: lightgray;
}

/*table {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}
thead, th, tr, td, tbody {
	margin: 0px;
	padding: 0px;
}
*/

.clear {
  clear: both;			
}

/*#page {
	height: 100%;
	width: 100%;
}
*/
#contentSection {
	position: absolute;
	top: 50px;
	bottom: 22px;
	height: calc(100% - 72px);
	width: 100%;
}

#footer {
	position: absolute;
	bottom: 0px;
	height: 22px;
	width: 100%;
	color: #fff;
	background-color: #707F8A;
}

.message {
	position: absolute;
	right: 10px;
}

.rCount {
	position: absolute;
	left: 10px;
}

#fire {
/*
	height: 540px;
	height: calc(100% - 22px);
*/
	height: 100%;
/*
	width: 1165px;
	overflow: hidden;
*/
}

#fireText {
	padding-bottom: 10px;
	color: #000;
	overflow: auto;
	height: calc(100% - 42px);
	width: 100%;
}

/*.pTop {margin-top: 15px;}*/


.title {
	padding-top: 10px;
	padding-bottom: 9px;
	text-align: center;
	color: #000;
	font-family: OpenSans-Bold;
	font-weight: bold;
	border-bottom: 1px solid black;
}

#sectionTitle {
	width: 100%;
	height: 20px;
	border-bottom: 1px solid black;
	font-family: OpenSans-Bold;
	line-height: 20px;
}

.fRow {
	width: 100%;
	background-color: #f1f2f2;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
}

.fRowE {
	width: 100%;
	background-color: #b0b1b2;
	color: #000;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
}

.tableRows {font-weight: normal;}

/* Field Widths */
.wsquad {width: 150px; float: left; text-align: center; white-space: wrap;}
.wstatus {width: 5%; float: left; text-align: center; white-space: nowrap;}
.wjira {width: 150px; float: left; text-align: center;}
.wsummary {width: calc(100% - 400px); float: left; text-align: left;}
.wnotes {width: 20%; float: left; text-align: left;}
.wreason {width: 10%; float: left; text-align: left;}
.wsprint {width: 100px; float: left; text-align: center; white-space: nowrap;}
.wtest {width: 10%; float: left; text-align: left;}

.intro {
	font-size: 90px;
	font-weight: 700;
	text-align: center;
	line-height: 150px;
}

/* Navigation Start */

.serverNav {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	line-height: 50px;
	background-color: #707F8A;
	width:100%;
}

.serverNav ul {
	list-style: none;
	height: 20px;
	line-height: 50px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.serverNav li {
	font-family: OpenSans, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	// padding-left: 20px;
	text-align: center;
	width: 105px;
	float: left;
}

.serverNav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.serverNav a:hover {
	background-color: #99ccee;
	color: #000;
	font-weight: bolder;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.serverNav a.active {
  background-color: #fff;
  color: #707F8A;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #707F8A;
  }
  */
}

/* Navigation End */

/* Traditional clearfix */
.clearfix:after {
//    content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* Custom CSS for the page layout */
.columns .column1 {float: left;}
.columns .column2 {float: left;}
