.bgc{
	background-color:black;
	margin: 0px;
}

body{
	overflow-x: hidden;
  overflow-y: auto;
	margin: 0;
}

html{
  padding: 0px;
  background: black;
}

#domo_table {
  width: 99.7%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 0px;
  margin: 0px;
  background: white;
  overflow: auto;
  height: 100px;
}

#domo_footer {
  width: 100%;
  height: :20px;
  font-size: 18px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  background: blue;
  color: white;
  overflow: auto;
}

.domoTitle {
  width: 100%;
  background-color: blue;
  color: white;
}

#jquery_table {
  width: 99.7%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 0px;
  margin: 0px;
  background: white;
  overflow: auto;
  height: 120px;
}

#jquery_footer {
  width: 100%;
  height: :20px;
  font-size: 18px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  background: yellow;
  color: black;
  overflow: auto;
}

#jquery_rlabel {
  color: yellow;
}

.jqueryTitle {
  background-color: yellow;
}

#xhr_table {
  width: 99.7%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 0px;
  margin: 0px;
  background: white;
  overflow: auto;
  height: 140px;
}

#xhr_footer {
  width: 100%;
  height: :20px;
  font-size: 18px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  background: green;
  color: white;
  overflow: auto;
}

.xhrTitle {
  background-color: green;
  color: white;
}

#oboe_table {
  width: 99.7%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 0px;
  margin: 0px;
  background: white;
  overflow: auto;
  height: 120px;
}

#oboe_footer {
  width: 100%;
  height: :20px;
  font-size: 18px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  background: orange;
  color: white;
  overflow: auto;
}

.oboeTitle {
  width: 100%;
  background-color: orange;
  color: white;
}

span {
  display: inline-block;
  width: 200px;
}

#title{
	text-align: center;
	font-size: 24px;
	color: yellow !important;
	padding: 0px;
	background-color:black;
	width:100%;
	height: 105px;
	margin: 0 auto;
	border:1px solid black;
}

.build, .logo, .date{
	line-height: 105px;
	float:left;
	width:33%;
	height: 105px;
	vertical-align: middle;
}

div {
  width: 100%;
  text-align:center;
  overflow: hidden;
}

p {
  width: 100%;
  text-align:center;
}

.tbold {
	font-size: 24px;
	font-weight: bolder;
}

.avatar{
	 width: 60px;
	 height: 60px;
}

.namew, .agew, .idw, .datew, .colw {
	width: 50px;
}