/* Navigation Start */
nav {
	position: absolute;
	top: 0;
	height: 20px;
	width:100%;
}
nav ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   text-align:center;
}

nav ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
}

li {
	width: 75px;
	text-decoration:none;
}

nav ul li a button{
//   display:block;
//   margin:0 0 0 1px;
//   padding:3px 10px;
//   background:#ddd;
//   color:#000;
//   text-decoration:none;
//   line-height:1.3em;
}

nav ul li button a:hover {
	color: yellow;
	background-color: blue;
	text-decoration:none;
}
nav ul li button a.active,
nav ul li button a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
   text-decoration:none;
}

button {
	width: 100px;
	border : 0px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	font-size: 16px;
}

.tabrow li button {
  text-shadow: 0.5px 0.5px #FFF;
  margin: 0px;
  padding: 0px;
}

.buttonM {
	margin-left: 20px;
}
.buttonH {
	height: 80px;
	padding-bottom: 2px;
	width: 75px;
	background-image: src(url="images/home.png")
}
.buttonS {
	margin-left: 20px;
}
.buttonP {
	margin-left: 20px;
}
.buttonI {
	margin-left: 20px;
}

li#sprint2 a input {
  background: url("/images/home.png") no-repeat;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 80px;
  padding-bottom: 2px;
  width: 75px;
}

/* Navigation End */