.titleFade {
	position: absolute;
	top: 35%;
	opacity: 1;
	width: 100%;
	font-size: 3em;
}

.vertTitle {
	width: 20px;
	height: calc(100% - 22px);
	background-color: #707F8A;
	color: #fff;
	border-right: 1px black solid;
}

.vertX {
	position: relative;
	word-wrap: break-word;
	width: 20px;
	height: 100%;
	top: 5%;
	font-size: 1em;
	font-style: bolder;
	text-align: center;
}

.hscLocation2 {
	position: absolute;
	top: 0;
	z-index: 10;
	font-style: bolder;
	right: 0px;
	width: 30%;
	border-left: 1px black solid;
	height: calc(100% - 23px);
	text-align: center;
}

.displayNextTitle2 {
	height: 1.4em;
	line-height: 1.4em;
	text-align: left;
	padding-left: 10px;
	background-color: #707F8A;
	color: #fff;
	border-bottom: 1px black solid;
	//border-left: 1px black solid;
}

.displayNextSquad2 {
	width: 100%;
	height: 2em;
	line-height: 2em;
	bottom: 23px;
	font-style: bolder;
	font-weight: bolder;
	border-bottom: 1px black solid;
	background-color: rgba(153,204,238,0.65);
}

.hscList2 {
	position: absolute;
	top: 3.5em;
	right: 0px;
	width: 100%;
	height: calc(100% - 3.5em);
	overflow-y: auto;
}

::-webkit-scrollbar {display: none;}

.displayNextSquad3 {
	font-size: 1em;
	line-height: 1.em;
}

.lSquad2 {
	left: 0;
	width: 28%;
	float: left;
	border-right: 1px black solid;
}

.lDay2 {
	left: calc(28% + 1px);
	width: 32%;
	float: left;
	border-right: 1px black solid;
}

.lDate2 {
	left: 60%;
	width: calc(40% - 2px);
	float: left;
}


.leftFade {background-color: rgba(224,223,226,0.65);}


