.hotfixMain {
	position: absolute;
	top: 0;
	width: 100%;
	height: calc(100% - 22px);
	background-color: #54585a;
}

#hotfixBody {
	position: absolute;
	top: 0;
	bottom: 0;
}

#hotfixTitle {
	position: absolute;
	height: 100%;
	width: 100%;
	color: #fff;
	top: 40%;
	text-align: center;
}

.hotfixTitleFade {
	position: absolute;
	opacity: 1;
}

.hide {
	opacity: 0;
	transition: all 5s ease;
}

.hotfixFade {
	opacity: 0;
}

.show {
	opacity: 1;
	transition: all 3s ease;
}

#hotfixLayout {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

#hotfixText {
	width: 100%;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border-bottom: 1px black solid;
}

.squad1 {
	position: absolute;
	width: 33.3vw;
}

.squad2 {
	position: absolute;
	left: 33.3vw;
	width: 33.3vw;
}

.squad3 {
	position: absolute;
	left: 66.6vw;
	width: 33.2vw;
}

.squadList {
	position: absolute;
	top: calc(2em + 1px);
	width: 100%;
	height: calc(100% - 2em - 2px);
	text-align: center;
}

.lHeight{line-height: 2em;}
.fHeight{height: 100%;}
.fLeft {float: left;}
.bb1 {border-bottom: 1px solid black;}

/*.teamsList {width: 100%;text-align: center;}*/
.squadWidth {width: 33.3vw;	text-align: center;}
.hfqaList{width: 60%;}
.hfareaList{width: 40%;}
/* width end */

.bravo {background-color: #d7d8d8; color:#000;text-shadow: 1px 1px #99ccee;}
.charlie {background-color: #b0b1b2; color:#000;text-shadow: 1px 1px #99ccee;}
.delta {background:#a2a5a6; color:#000;text-shadow: 1px 1px #99ccee;}
.cLead {text-transform: uppercase; font-weight: bolder;text-shadow: 1px 1px #99ccee; color: #000;}

#footer {
	background-color: #54585a;
	color: #99ccee;
	transition: all 2s ease;
}

.hfTeamT {background-color: #54585a; color:#fff; font-size: 120%;font-weight: bolder;text-shadow: 0px 0px #000;}
