/* basics */
@font-face {font-family: OpenSans;
	src: url(/fonts/OpenSans-Light.ttf);}

@font-face {font-family: OpenSans-Bold;
	src: url(/fonts/OpenSans-Bold.ttf);
	font-weight: bold;}

@font-face {font-family: OpenSans-Bolder;
	src: url(/fonts/OpenSans-ExtraBold.ttf);
	font-weight: bolder;}

body{
	margin: 0; padding: 0;
	font-family: OpenSans;
	width: 100%;
	overflow: hidden;
	background-color: #99ccee;
}

h1 {margin: 0px; padding: 0px; text-align: center; font-family: OpenSans-Bold;}
div {margin: 0px; padding: 0px;}
table {border-collapse: collapse; margin: 0px; padding: 0px;}
thead, th, tr, td, tbody {margin: 0px; padding: 0px;}
p {margin: 0px; padding: 0px;}
ul {list-style-type: none; margin: 0px; padding: 0px;}
img {margin: 0px; padding: 0px; border: 0px;}

content {
	position: absolute;
	top: 80px;
	height: calc(100% - 82px);
	width: calc(100% - 2px);
	background-color: #fff;
}

#page {height: 100%; width: 100%;}

.contentBox {border: 1px solid black;}

/* Footer */
#footer {
	position: absolute;
	bottom: 1px;
	left: 1px;
	height: 22px;
	width: calc(100% - 2px);
	color: #fff;
	background-color: #99ccee;
	border-top: 1px solid black;
	transition: all 2s ease;
	z-index: 10;
}

#newstuff {
	position: absolute;
	bottom: 0;
	left: -1px;
	color: #000;
	width: 100%;
	padding: 5px;
	border-left: 20px solid #99ccee;
	height: 0px;
	opacity: 0;
	text-align: left;
	z-index: -50;
}

#div-new:hover #newstuff {
  	bottom: 12px;
	height: auto;
	padding-bottom: 12px;
	opacity: 1;
	transition: all 0.4s ease;
}

.newTitle:hover {
	font-weight: bolder;
	color: #fff;
	background-color: #707F8A;
}

.message {
	position: absolute;
	text-align: right;
	right: 10px;
	width: 20%;
	min-width: 150px;

}

.rCount {
	position: absolute;
	width: 80%;
	min-width: 400px;
	left: 1px;
}

.numberCircle {
	border-radius: 50%;
	//   behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	margin-top: 1px;
	width: 18px;
	height: 18px;
	line-height: 20px;
	background: #fff;
	border: 1px solid #707F8A;
	color: #707F8A;
	text-align: center;
}

/* Footer End */

/* Colors */
.domoBlue {color: #99ccee;}
.domoBlueBG {background-color: #99ccee;}
.darkBlue {color: #707F8A;}
.darkBlueBG {background-color: #707F8A;}
.white {color: #fff;}
.whiteBG {background-color: #fff;}
.redShadow {text-shadow: 0.5px 0px red;}
.greenShadow {text-shadow: 0.5px 0px green;}
.oddRow {background-color: lightgrey;}
