@media only screen and (max-width: 640px){
	.nav {
		height: 40px;
		line-height: 40px;
		width:100%;
		font-size: .8em;
	}

	.nav ul {padding-left: 3%;}
	.nav li {width: 50px; line-height: 20px;}
	.nav li { border-right: 1px solid #000000; }
	.nav li:last {border-right:none;}
	.nav a {}
	.nav a:hover {}
	.nav a.active {}

	.domoFont {
		font-size: 1.4em;
		letter-spacing: -3;
		font-family: OpenSans, sans-serif;
	}

	#headerBase {
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		height: 40px;
	}

	#header1 {}
	#header2 {}

	.header1 {
		line-height: 40px;
		z-index: 100;
	}

	.header1:hover {
		color: #99ccee;
		text-shadow: 1px 1px 6px #000;
		transition: all 2s ease;
	}

	.header2 {
		top: 3px;
		line-height: 40px;
		z-index: 1;
	}

	.header3Version {
		position: absolute;
		right: 5px;
		font-size: .3em;
		width: 100%;
		text-align: right;
		opacity: 0;
	}

	.tHover {}
	.tHover:hover .header3Version {
		opacity: 1;
		transition: all 2s ease;
	}

	/* General Items */
	.titleFade {
		font-size: 1em;
	}
	content {
		top: 40px;
		height: calc(100% - 42px);
	}


}
