/* ----- base elements ----- */

html {
	margin: 0;
	padding: 0;
	font-family: Verdana, serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: gray;
    background-image: url("../images/page_bg.png");
    background-repeat: repeat-x;
	font-family: Verdana, serif;
}


div, p, h1, h2, h3, h4, h5, h6, ul, li, pre {
	margin: 0;
	padding: 0;
}

.fLeft {
	float: left;
}

.fRight {
	float: right;
}

.allClear {
	clear: both;
}

.star0, .star1, .star2, .star3, .star4, .star5 {
	width: 60px;
	height: 12px;
	background-image: url('../images/starzSmall.png');
	float: right;
}

.star0 {background-position: 0 68px;}
.star1 {background-position: 0 57px;}
.star2 {background-position: 0 45px;}
.star3 {background-position: 0 34px;}
.star4 {background-position: 0 23px;}
.star5 {background-position: 0 12px;}

.rcorners {border-radius: 25px;}

#page {
	margin: 0 auto;
	padding: 0;
	position: absolute;
	max-width: 960px;
	min-width: 960px;
	height: 100%;
	top: 0;
	bottom: 0;
	margin-left: -480px;
	left: 50%;
}

.htitle {
    font-variant: small-caps;
    font-weight: 600;
    margin-left: -20px;
}

/* ----- header ----- */
#header {
	position: absolute;
	height: 80px;
	width: 960px;
	background-color: #036;
	overflow: hidden;
}

#title {
	position: absolute;
	font-weight: bold;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #fff;
	width: 960px;
}

#logo {
	position: absolute;
	float: left;
    width: 80px;
    height: 80px;
    border: 0;
}

#logo a {
	position: absolute;
	float: left;
    width: 80px;
    height: 80px;
    z-index: 5;
}


#ozz {
	position: absolute;
	width: 130px;
	right: 10px;
	top: 57px;
	z-index: 2;
	color: gray;
}

/* ----- navigation ----- */
#nav {
	position: absolute;
	width: 960px;
	top: 80px;
    background-color: black;
}

#navItem {
	position: relative;
	height: 30px;
	margin: 0 0 0 150px;
	padding: 0;
}

#navItem ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navItem li {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 30px;
}

#navItem li a:link, #navItem li a:visited{
	font-family: Georgia, serif;
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 0 15px 0 0;
	width: 140px;
	border: none;
    border-radius: 10px 10px 0 0;
}

#navItem li a:hover, #navItem li a:active{
	color: #fff;
	background-color: gray;
}

#navItem .current {
	color: wheat;
	background-color: #5E5E89;
}

#navItem .current:hover {
	color: wheat;
	background-color: #5E5E89;
}

#navItem li img {
	float: left;
	margin: 0;
	padding: 0 10px;
	line-height: 30px;
}

/* ----- content ----- */
.xcontent {
    position: absolute;
    top: 110px;
    bottom: 0;
    width: 660px;
    overflow: hidden;
}

/* ----- section ----- */
#section {
	position: absolute;
	float: left;
    top: 0;
    bottom: 0;
	background-color: #5E5E89;
    overflow: hidden;
}

#games, #book, #tv {
    position: relative;
    float: left;
    height: 100%;
	background-color: #5E5E89;
    overflow: hidden;
}


#wurm, #lol, #bearth, #wow, #recluse, #truth, #time, #sky, #tv, #who, #bg, #bh, #eval {
    position: relative;
    float: left;
    height: 100%;
	background-color: #5E5E89;
    overflow: hidden;
}


#sectionTitle {
	position: absolute;
	float: left;
	width: 660px;
	height: 30px;
	color: #5E5E89;
	background-color: #c0c0c0;
	line-height: 30px;
}

#sectionTitle .stitle {
	position: relative;
	float: left;
	width: 345px;
}

#sectionTitle .stbreak {
	position: relative;
	float: left;
	width: 35px;
	height: 30px;
}

#sectionTitle .simg {
	position: fixed;
    text-align: center;
	margin: 0 auto;
	margin-top: -3px;
	float: left;
	height: 40px;
	z-index: 10;
}

#sectionTitle .sauthor {
	position: relative;
	float: right;
	width: 280px;
}

#sectionTitle h3 {
	font-family: Georgia, serif;
	font-size: 14pt;
	text-align: center;
}

#sectionTitle .ssmall {
	font-size: 12pt;
}

#sectionContent {
	position: relative;
	float: left;
    font-size: 14px;
	width: 660px;
    height: 100%;
	top:30px;
    overflow-x: hidden;
    overflow-y: auto;
	background-color: #5E5E89;
}

#sectionContent .srating {
	position: absolute;
	float: left;
	width: 60px;
	height: 100%;
    top: 0;
    left: 0;
	background-color: #036;
    overflow: auto;
}

.srating p {
	margin-top: 45px;
}

#sectionContent .slinks {
	position: absolute;
	float: left;
	width: 600px;
	height: 20px;
	line-height: 20px;
	top: 0;
    left:60px;
	background-color: #036;
    text-align: center;
}

#sectionContent .slinks ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sectionContent .slinks li {
	float: right;
	margin: 0;
	padding: 0;
	width: 110px;
    border-left: solid black thin;
}

#sectionContent .slinks li a:link, #sectionContent li a:visited{
	font-family: Georgia, serif;
	display: block;
	color: lightgray;
	text-decoration: none;
	border: none;
}

#sectionContent li a:hover, #sectionContent li a:active{
	color: wheat;
}

#sectionContent .scontent {
	position: absolute;
	float: left;
	top: 20px;
	bottom: 50px;
    left: 60px;
    width: 600px;
    overflow: hidden;
    overflow-y: auto;
    color: lightgray;
	background-color: #5E5E89;
}

#sectionContent .bhidden {
    margin-top: -20px;
}

#sectionContent .base {
    width: 620px;
    margin-left: -20px;
    
}

.scontent p:nth-child(1) {padding: 25px 45px 10px 55px;}
.scontent p:nth-child(n+2) {padding: 5px 45px 10px 55px;}
.scontent p:last-child {
    padding: 5px 45px 35px 55px;
}

/* ----- aside ----- */
#aside {
	position: absolute;
	float: left;
	top: 110px;
	bottom: 20px;
	left: 660px;
	width: 300px;
}

#asideContent {
	position: absolute;
	float: left;
	width: 300px;
	top: 0;
	bottom: 0;
	margin-left: -150px;
	left: 50%;
	background-color: #c0c0c0;
}

table {
	margin: 0;
	padding: 0;
	width: 300px;
	border-collapse: collapse;
}

tr.current {
	background-color: #5E5E89;
}

tr.current:hover {
	background-color: #5E5E89;
}

th {
	margin: 0;
	padding: 35px 0 10px 0;
	width: 300px;
	font-family: 'Kaushan Script', cursive;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: 600;
	text-align: center;	
}

.td1 {
	width: 20px !important;
	padding: 0 10px 0 25px;
}

.td2 {
	width: 220px !important;
}

.td3 {
	width: 60px !important;
	padding: 0 10px 0 0;
}

.oCircle {
	margin: 0;
	padding: 0;
	height: 20px;
	line-height: 30px;
}

.tlink {
	margin: 0;
	padding: 0;
	line-height: 30px;
	font-weight: bold;
}

a:link, a:visited{
	font-family: 'Kaushan Script', cursive;
	letter-spacing: 2px;
	color: black;
	text-decoration: none;
	padding: 0;
}

a:hover, a:active{
	color: wheat;
	font-size: medium;
}

/* ----- footer ----- */
#footer {
	position: absolute;
	width: 960px;
	height: 20px;
	bottom: 0;
	text-align: center;
	background-color: black;
	color: white;
}

#footer div.fcell {
	position: relative;
	float: left;
	width:33.3333%;
	height: 20px;
}

#footer div.inc {
	float: left;
	line-height: 20px;
    color: gray;
}

#footer div.smap {
	float: right;
}

#footer a {
    text-decoration: none;
	font-family: Verdana, serif;
    font-weight: 400;
    font-size: small;
    color: gray;
}

/* ----- Page Specific Items ----- */
#home {
	position: absolute;
	float: left;
	width: 600px;
	height: 100%;
    font-size: 14px;
	top: 0;
	bottom: 50px;
    margin-left: 40px;
	color: lightgray;
	background-color: #5E5E89;
}

#home p:nth-child(1) {
	padding: 25px 45px 10px 55px;
}

#home p:nth-child(n+2) {
	padding: 5px 45px 10px 55px;
}

#home p:last-child {
	padding: 5px 45px 35px 55px;
    margin-bottom: 30px;
}

/* ----- a href reset ----- */
.none {
    color: lightgray !important;
}

.none a:link, .none a:visited{
    color: wheat;
}

.none a:hover, .none a:active{
	color: wheat;
}


/* ----- Site Map ----- */
#pagesite {
	position: absolute;
	margin: 0 auto;
	padding: 0;
    max-width: 960px;
	min-width: 960px;
	height: 100%;
	top: 0;
	bottom: 0;
	margin-left: -480px;
	left: 50%;
    background-image: url(../images/site_spacer.png);
    background-color: lightgray;
    overflow: hidden;
}

#pagesite .sitemap {
    position: relative;
    z-index: 100;
    padding: 0;
    margin: 0;
    top: 0;
    width: 960px;
    height: 391px;
    overflow: hidden;    
}

#pagesite .footer {
    position: absolute;
    padding: 0;
	margin: 0 auto;
    z-index: 100;
    width: 960px;
    height: 20px;
    bottom: 0;
	margin-left: -480px;
	left: 50%;
}

#pagesite .rhome {
    position: absolute;
    z-index: 99;
    padding: 0;
    margin: 0;
    bottom: 23px;
    left: 832px;
    width: 120px;
    background-color: cornflowerblue;
	text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font-family: 'Kaushan Script', cursive !important;
    letter-spacing: 2px;
}
