/* Fonts */
	@font-face {
	    font-family: OpenSans;
	    src: url(/fonts/OpenSans-Light.ttf);
	}

	@font-face {
	    font-family: OpenSans-Bold;
	    src: url(/fonts/OpenSans-Bold.ttf);
	    font-weight: bold;
	}

	@font-face {
	    font-family: OpenSans-Bolder;
	    src: url(/fonts/OpenSans-ExtraBold.ttf);
	    font-weight: bolder;
	}

body {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	font-family: OpenSans;
}

div, p, h1, {
	margin: 0;
	padding: 0;
}

.rowContainer {
	position: absolute;
	top: 80px;
	border: 1px solid black;
	height: calc(100% - 82px);
	width: calc(100% - 2px);
	overflow-y: auto;
}

.aCenter {text-align: center;}
.lCenter {display: inline-block;}

.fLeft {float: left;}
.fRight {float: right;}

.lineH {
	line-height: 25px;
	display: inline-block;
	vertical-align: middle;
}

.fullWidth {
	width: 100%;
	display: inline-block;
}

.fullWidthx {
	width: calc(100% - 2%);
	display: inline-block;
}

.mx {
	width: -1%;
	display: inline-block;
}


.fWidth {
	width: 18%;
	display: inline-block;
	text-align: left;
	margin-left: 5px;
}
.fSubWidth {
	width: 26%;
	text-align: left;
	display: inline-block;
	margin-left: -3%;
}

.platformWidthT {
	width: 14%;
	display: inline-block;
}

.platformWidth {
	width: 14%;
	display: inline-block;
}

/* Header only rows */
.hRow {
	width: 40%;
	display: inline-block;
	text-align: left;
	margin-left: 5px;
}
.hSRow {
	width: 4%;
	text-align: left;
	display: inline-block;
	margin-left: -3%;
}


/* Title */
.mTitle {
	line-height: 50px;
	height: 50px;
	font-size: 32px;
	background-color: #99ccee;
	border-bottom: 1px solid black;
}
	.mTitle::before {
		content: "Feature Comparison by Platform";
	}


.cTitles {
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	height: 30px;
	color: #fff;
}

.cTitlesB {background-color: #31689b;}

/*  Row coloring */
.teamLight {background-color: #fff;color: #000;}
.teamDark {background-color: #d9ebfd;}

.aR1 {}
.aR1:hover{
	background-color: #b0b1b2; //d9d9d9
	transition: all 0.3s ease;
}

.aR2 {}
.aR2:hover{
	background-color: #92c8ed;
	transition: all 0.3s ease;
}

/* shapes */
#circle {
	width: 18px;
	height: 18px;
	background: #4e8cba;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	display: inline-block;
	margin: 5 0 2 0; 
}

#hcircle {
	height:9px;
	width:18px;
	background:#73b0d7;
	border-radius: 0 0 18px 18px;
	-moz-border-radius: 0 0 18px 18px;
	-webkit-border-radius: 0 0 18px 18px;
	border-radius: 0 0 18px 18px;
	display: inline-block;
	margin: 14 0 2 0; 
}

#circleB {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #73b0d7;
	height: 16px;
	width: 16px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: inline-block;
	margin: 5 0 2 0; 
}

.header_row {
	position: relative;
	background: #ddd;
	font-weight: 600;
	cursor: pointer;
}

.header_closed .arrow {
	transform: rotate(0deg);
}

.arrow {
	left: 5px;
	top: 50%;
	margin-top: -5px;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #888 transparent transparent transparent;
	transform: rotate(-90deg);
	transition: all .05s ease;
}

.arrowN {
	left: 5px;
	top: 50%;
	margin-top: -5px;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: transparent; transparent transparent transparent;
	//transform: rotate(-90deg);
	//transition: all .05s ease;
	//background-color: red;
}


.hidden {display: none;}

/* Mobile */

/* Phone portrait */
@media only screen and (max-width: 640px) and (orientation: landscape){

	body {background-color: #99ccee;}

	.fWidth {font-size: .9em;}
	.fSubWidth {font-size: .9em;}
}

@media only screen and (max-width: 640px){

	body {
		font-size: .8em;
		background-color: #99ccee;
	}

	/* Title */
	.mTitle {
		line-height: 30px;
		height: 30px;
		font-size: 24px;
	}

	.mTitle::before {content: "Features by Platform";}

	.cTitles {
		line-height: 20px;
		height: 20px;
	}

	.rowContainer {
		top: 50px;
		border: 0;
		height: calc(100% - 82px);
		width: 100%;
	}

	.lineH {line-height: 18px;}
	.fWidth {font-size: .8em;}
	.fSubWidth {font-size: .8em;}
	.platformWidthT {font-size: .8em;}
	.platformWidth {font-size: .7em;}

	/* shapes */
	#circle {
		width: 12px;
		height: 12px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		margin: 2 0 2 0;
	    margin-left: 10%;
	}

	#hcircle {
		height: 6px;
		width: 12px;
		border-radius: 0 0 12px 12px;
		-moz-border-radius: 0 0 12px 12px;
		-webkit-border-radius: 0 0 12px 12px;
		border-radius: 0 0 12px 12px;
		margin: 8 0 2 0; 
	    margin-left: 10%;
	}

	#circleB {
		height: 11px;
		width: 11px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		margin: 2 0 2 0; 
	    margin-left: 10%;
	}

}

