/* Fonts */
	@font-face {
	    font-family: OpenSans;
	    src: url(/fonts/OpenSans-Light.ttf);
	}

	@font-face {
	    font-family: OpenSans-Bold;
	    src: url(/fonts/OpenSans-Bold.ttf);
	    font-weight: bold;
	}

	@font-face {
	    font-family: OpenSans-Bolder;
	    src: url(/fonts/OpenSans-ExtraBold.ttf);
	    font-weight: bolder;
	}

body {
	margin: 0;
	padding: 0;
	float: left;
	//width: 695px;
	width: 100%;
	font-family: OpenSans;
}

div, p, h1, {
	margin: 0;
	padding: 0;
}

.rowContainer {
	position: absolute;
	top: 80px;
	border: 1px solid black;
	height: calc(100% - 82px);
	width: calc(100% - 2px);
	overflow-y: auto;
}

.aCenter {text-align: center;
}

.lCenter {
	display: inline-block;
}

.fLeft {float: left;}
.fRight {float: right;}

.lineH {
	line-height: 25px;
	display: inline-block;
	vertical-align: middle;
}

.fullWidth {
	width: 100%;
	display: inline-block;
}

.fWidth {
	width: 17%;
	display: inline-block;
	text-align: left;
	margin-left: 5px;
}
.fSubWidth {
	width: 23%;
	text-align: left;
	display: inline-block;
	//margin-left: -2%;
	margin-left: -5px;
}

.platformWidthT {
	width: 15%;
	display: inline-block;
}

.platformWidth {
	width: 15%;
	display: inline-block;
}

/* Title */
.mTitle {
	line-height: 50px;
	height: 50px;
	font-size: 32px;
	background-color: #99ccee;
	border-bottom: 1px solid black;
}
	.mTitle::before {
		content: "Feature Comparison by Platform";
	}


.cTitles {
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	height: 30px;
	background-color: #31689b;
	color: #fff;
}

/*  Row coloring */
.teamLight {background-color: #fff;color: #000;}
.teamDark {background-color: #d9ebfd;}

.aR1 {}
.aR1:hover{
	background-color: #d9d9d9;
	transition: all 0.3s ease;
}

.aR2 {}
.aR2:hover{
	background-color: #92c8ed;
	transition: all 0.3s ease;
}

/* shapes */
#circle {
	width: 18px;
	height: 18px;
	background: #4e8cba;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	display: inline-block;
//	vertical-align: middle;
	margin: 5 0 2 0; 
}

#hcircle {
	height:9px;
	width:18px;
	background:#73b0d7;
	border-radius: 0 0 18px 18px;
	-moz-border-radius: 0 0 18px 18px;
	-webkit-border-radius: 0 0 18px 18px;
	border-radius: 0 0 18px 18px;
	display: inline-block;
	margin: 14 0 2 0; 
}

#circleB {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #73b0d7;
	height: 16px;
	width: 16px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: inline-block;
	margin: 5 0 2 0; 
}


/* Mobile */

/* Phone portrait */
@media only screen and (max-width: 640px){

	body {
		margin: 0;
		padding: 0;
		float: left;
		width: 100%;
		font-family: OpenSans;
		font-size: .8em;
	}

	/* Title */
	.mTitle {
		clear: all;
		line-height: 30px;
		height: 30px;
		font-size: 24px;
		border-bottom: 1px solid black;
	}

	.mTitle::before {content: "Features by Platform";}


	.cTitles {
		display: inline-block;
		vertical-align: middle;
		background-color: #31689b;
		color: #fff;
		line-height: 20px;
		height: 20px;
	}

	.rowContainer {
		position: absolute;
		top: 50px;
		border: 0;
		height: calc(100% - 82px);
		width: 100%;
		overflow-y: auto;
	}

	.lineH {
		display: inline-block;
		vertical-align: middle;
		line-height: 18px;
	}

	.fWidth {
		width: 20%;
		display: inline-block;
		text-align: left;
		margin-left: 5px;
		font-size: .7em;
	}
	.fSubWidth {
		width: 23%;
		text-align: left;
		display: inline-block;
		margin-left: -5%;
		font-size: .7em;
	}

	.platformWidthT {
		width: 15%;
		display: inline-block;
		font-size: .7em;
	}

	.platformWidth {
		width: 15%;
		display: inline-block;
		font-size: .7em;
	}
	/* shapes */
	#circle {
		width: 12px;
		height: 12px;
		background: #4e8cba;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		display: inline-block;
		margin: 2 0 2 0; 
	}

	#hcircle {
		height: 6px;
		width: 12px;
		background:#73b0d7;
		border-radius: 0 0 12px 12px;
		-moz-border-radius: 0 0 12px 12px;
		-webkit-border-radius: 0 0 12px 12px;
		border-radius: 0 0 12px 12px;
		display: inline-block;
		margin: 8 0 2 0; 
	}

	#circleB {
		background-color: rgba(0, 0, 0, 0);
		border: 1px solid #73b0d7;
		height: 11px;
		width: 11px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		display: inline-block;
		margin: 2 0 2 0; 
	}

}

